* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 64px;
    align-items: center;
}

.header__colmar {
    display: flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.header__colmar__name {
    color: gray;
}

.header__colmar__academy {
    color: lightgray;
}

.header__nav {
    display: flex;
    margin-right: 24px;
    height: 32px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav__list {
    display: flex;
    gap: 16px;
}

.nav__item {
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    width: 100%;
}

section {
    display: flex;
    background-color: lightgray;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    gap: 24px;
    align-items: center;

}

.start__left {
    display: flex;
    width: 60%;
}

.start__left__banner {
    max-width: 100%;
    height: auto;
}

.start__right {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 24px;
    
}

.start__right__button {
    width: 50%;
    color: white;
    background-color: gray;
    border: none;
    padding: 8px;
}

.main__news {
    display: flex;
    background-color: whitesmoke;
    padding-bottom: 32px;
}

.news__left {
    flex-direction: column;
    width: 60%;
}

.news__left__information {
    max-width: 100%;
}

.news__left__headline {
    padding-top: 32px;
    padding-bottom: 24px;
}

.news__left__subheadline {
    padding-bottom: 32px;
}

.news__right {
    display: flex;
    flex-direction: column;
    width: 40%;
    /* background-color: red; */
    height: 100%;
    align-self: stretch;
}

.news__right__box {
    display: flex;
    padding: 16px;
}

.news__right__box__lside {
    display: flex;
    width: 35%;
}

.news__right__boximg {
    max-width: 100%;
    height: auto;
}

.news__right__box__rside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 8px;
}

section.main__learning {
    background-color: lightgray;
}


section.main__thesis {
    background-color: whitesmoke;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column ;
    gap: 0px
}

.main__thesis__col1 {
    padding-bottom: 32px;
}

.main__thesis__col2 {
    display: flex;
}

.main__thesis__col2 div.news__left {
    padding-right: 24px;
}
section.main__thesis .news__left__subheadline {
    padding-bottom: 0px;
}

#reimagine {
    padding-top: 24px;
    padding-bottom: 8px;
}

#background-lightgrey {
    background-color: lightgrey;
}

.main__learning {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 32px;
}

.main__learning__col2 {
    
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-left: 72px;
    padding-right: 72px;
    flex: 1;
}

.main__learning__box {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100%;  
     
}

.main__learning__box__topimg {
    width: 100%;
    height: auto;
} 

.main__learning__box__bot {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
} 

footer {
    padding: 16px;
    padding-left: 24px;
    color:gray;
    display: flex;
}

.footer__r {
    flex: 1;
    text-align: end;
}